<plugin name='oauth' version='0.3' grailsVersion='1.3.2 &gt; *'>
  <author>Yong Rong (Damien) Hou</author>
  <authorEmail>houyongr@gmail.com</authorEmail>
  <title>Adds OAuth capability to Grails apps</title>
  <description>	This plugin wraps up the OAuth Java implementation and provides out-of-the-box
	OAuth functionality for Grails apps
	</description>
  <documentation>http://grails.org/Oauth+Plugin</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>org.grails.plugins.oauth.OauthController</resource>
    <resource>org.grails.plugins.oauth.OauthService</resource>
    <resource>org.grails.plugins.oauth.OauthServiceException</resource>
    <resource>org.grails.plugins.oauth.OauthTagLib</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>