<plugin name='oauth' version='0.2' grailsVersion='1.1.1 &gt; *'>
  <author>Yong Rong (Damien) Hou</author>
  <authorEmail>houyongr@gmail.com</authorEmail>
  <title>Adds OAuth capability to Grails apps</title>
  <description>	This plugin wraps up the OAuth Java implementation and provides out-of-the-box
	OAuth functionality for Grails apps
	</description>
  <documentation>http://grails.org/Oauth+Plugin</documentation>
  <resources>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>OauthController</resource>
    <resource>OauthService</resource>
    <resource>OauthTagLib</resource>
  </resources>
  <dependencies />
</plugin>